{{#imageurl}}
<div class="no-overflow"> <img src={{imageurl}} width=100% /></div>
{{/imageurl}}


{{#description}}
<p>{{description}} </p>
{{/description}}

{{#quizurl}}
<p>
<a class="btn btn-success" href={{quizurl}}>   {{#str}} takequiz, block_weekquiz {{/str}}</a>
</p>
{{/quizurl}}
