{{#activities}}
<p>{{{icon}}} </p>
<p>{{time}} </p>
<p><h4>{{name}}</h4></p>
<p><a href={{url}} class="btn btn-primary">View</a> </p>
<p>{{# str }} course, core {{/ str }} : {{course}}</p>
<hr>
{{/activities}}
